.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.title-cart {
  text-align: center;
  margin: 15px 0;
}

.cart-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.item-cart {
  display: flex;
  /* width: 700px; */
  border: 1px solid #eee;
  padding: 1.2rem 1rem;
  margin: 1rem 0;
  justify-content: space-between;
}

.left {
  display: flex;
}

.left div {
  margin-right: 1rem;
}

.no-item {
  text-align: center;
}

.name {
  margin-left: 1rem;
}

svg:hover {
  color: #acaa16;
}

.total {
  display: flex;
  justify-content: right;
}

.discount {
  display: flex;
  justify-content: end;
}

.purchase-btn {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.clear {
  display: flex;
  justify-content: left;
}

.purchase-btn button {
  font-weight: 500;
  background-color: #36317f;
  color: white;
  padding: 0.7rem 1rem;
  justify-content: end;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.purchase-btn button:hover {
  font-weight: 500;
  color: black;
  background-color: #e5e219;
}

.clear button {
  font-weight: 500;
  background-color: #eee;
  color: black;
  padding: 0.7rem 1rem;
  justify-content: end;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.clear button:hover {
  font-weight: 500;
  color: #eee;
  background-color: #e02b13;
}
