.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title-cart {
  text-align: center;
  margin: 15px 0;
}

.cart-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.item-cart {
  display: flex;
  /* width: 700px; */
  border: 1px solid #eee;
  padding: 1.2rem 1rem;
  margin: 1rem 0;
  justify-content: space-between;
}

.left {
  display: flex;
}

.left div {
  margin-right: 1rem;
}

.no-item {
  text-align: center;
}
