.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

.item {
  background-color: #e5eff7;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.searchForm {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
