header {
  background-color: #191739;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  color: #e5eff7;
}

.cart {
  color: #000;
  display: flex;
  align-self: center;
}
