.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.add-btn {
  font-weight: 500;
  background-color: #36317f;
  color: white;
  padding: 0.7rem 1rem;
  justify-content: end;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.add-btn:hover {
  font-weight: 500;
  color: black;
  background-color: #e5e219;
}

img {
  width: 150px;
  margin-bottom: 0.5rem;
}
